# Support Vector Machines

## Classification on Australian Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.svm import SVC
import io

In [16]:
data = open("data/australian.dat", "r")
data.read(3)

''

## Breast Cancer Dataset

In [30]:
# names = ['Sample code number', 'Clump Thickness', ]

data = pd.read_csv("data/breast-cancer-wisconsin.data", header=None)
data.head()

        0   1   2   3   4   5   6   7   8   9   10
0  1000025   5   1   1   1   2   1   3   1   1   2
1  1002945   5   4   4   5   7  10   3   2   1   2
2  1015425   3   1   1   1   2   2   3   1   1   2
3  1016277   6   8   8   1   3   4   3   7   1   2
4  1017023   4   1   1   3   2   1   3   1   1   2

#### Handling missing values 

The dataset contains missing values. Please view the below mentioned sites - 

1. https://machinelearningmastery.com/handle-missing-data-python/
2. https://datascience.stackexchange.com/questions/37706/how-to-handle-unknown-category-in-machine-learning-classification-problems

In [31]:
model = SVC()

X = data.iloc[:, 1:9]
y = data[10]


# model.fit(X, y)
# print(model)