# Support Vector Machines

## Classification on Australian Dataset

In [3]:
import pandas as pd
import numpy as np
from sklearn import datasets
from sklearn import metrics
from sklearn.svm import SVC
import io

In [4]:
data = open("data/australian.dat", "r")
data.read(3)

''

## Breast Cancer Dataset

In [39]:
# names = ['Sample code number', 'Clump Thickness', ]

data = pd.read_csv("data/breast-cancer-wisconsin.data", header=None)
data.head()

data = data.replace('?', np.nan)
data = data.dropna()

data.head(100)

for index, rows in data.iterrows():
    print(rows)

0     1000025
1           5
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 0, dtype: object
0     1002945
1           5
2           4
3           4
4           5
5           7
6          10
7           3
8           2
9           1
10          2
Name: 1, dtype: object
0     1015425
1           3
2           1
3           1
4           1
5           2
6           2
7           3
8           1
9           1
10          2
Name: 2, dtype: object
0     1016277
1           6
2           8
3           8
4           1
5           3
6           4
7           3
8           7
9           1
10          2
Name: 3, dtype: object
0     1017023
1           4
2           1
3           1
4           3
5           2
6           1
7           3
8           1
9           1
10          2
Name: 4, dtype: object
0     1017122
1           8
2          10
3          10
4           8
5           7
6          10
7           9
8           7
9           1
10          4
Name: 5, dtype: object
0     1018099
1           1
2           1
3           1
4           1
5           2
6          10
7           3
8           1
9           1
10          2
Name: 6, dtype: object
0     1018561
1           2
2           1
3           2
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 7, dtype: object
0     1033078
1           2
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           5
10          2
Name: 8, dtype: object
0     1033078
1           4
2           2
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 9, dtype: object
0     1035283
1           1
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 10, dtype: object
0     1036172
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 11, dtype: object
0     1041801
1           5
2           3
3           3
4           3
5           2
6           3
7           4
8           4
9           1
10          4
Name: 12, dtype: object
0     1043999
1           1
2           1
3           1
4           1
5           2
6           3
7           3
8           1
9           1
10          2
Name: 13, dtype: object
0     1044572
1           8
2           7
3           5
4          10
5           7
6           9
7           5
8           5
9           4
10          4
Name: 14, dtype: object
0     1047630
1           7
2           4
3           6
4           4
5           6
6           1
7           4
8           3
9           1
10          4
Name: 15, dtype: object
0     1048672
1           4
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 16, dtype: object
0     1049815
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 17, dtype: object
0     1050670
1          10
2           7
3           7
4           6
5           4
6          10
7           4
8           1
9           2
10          4
Name: 18, dtype: object
0     1050718
1           6
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 19, dtype: object
0     1054590
1           7
2           3
3           2
4          10
5           5
6          10
7           5
8           4
9           4
10          4
Name: 20, dtype: object
0     1054593
1          10
2           5
3           5
4           3
5           6
6           7
7           7
8          10
9           1
10          4
Name: 21, dtype: object
0     1056784
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 22, dtype: object
0     1059552
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 24, dtype: object
0     1065726
1           5
2           2
3           3
4           4
5           2
6           7
7           3
8           6
9           1
10          4
Name: 25, dtype: object
0     1066373
1           3
2           2
3           1
4           1
5           1
6           1
7           2
8           1
9           1
10          2
Name: 26, dtype: object
0     1066979
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 27, dtype: object
0     1067444
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 28, dtype: object
0     1070935
1           1
2           1
3           3
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 29, dtype: object
0     1070935
1           3
2           1
3           1
4           1
5           1
6           1
7           2
8           1
9           1
10          2
Name: 30, dtype: object
0     1071760
1           2
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 31, dtype: object
0     1072179
1          10
2           7
3           7
4           3
5           8
6           5
7           7
8           4
9           3
10          4
Name: 32, dtype: object
0     1074610
1           2
2           1
3           1
4           2
5           2
6           1
7           3
8           1
9           1
10          2
Name: 33, dtype: object
0     1075123
1           3
2           1
3           2
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 34, dtype: object
0     1079304
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 35, dtype: object
0     1080185
1          10
2          10
3          10
4           8
5           6
6           1
7           8
8           9
9           1
10          4
Name: 36, dtype: object
0     1081791
1           6
2           2
3           1
4           1
5           1
6           1
7           7
8           1
9           1
10          2
Name: 37, dtype: object
0     1084584
1           5
2           4
3           4
4           9
5           2
6          10
7           5
8           6
9           1
10          4
Name: 38, dtype: object
0     1091262
1           2
2           5
3           3
4           3
5           6
6           7
7           7
8           5
9           1
10          4
Name: 39, dtype: object
0     1099510
1          10
2           4
3           3
4           1
5           3
6           3
7           6
8           5
9           2
10          4
Name: 41, dtype: object
0     1100524
1           6
2          10
3          10
4           2
5           8
6          10
7           7
8           3
9           3
10          4
Name: 42, dtype: object
0     1102573
1           5
2           6
3           5
4           6
5          10
6           1
7           3
8           1
9           1
10          4
Name: 43, dtype: object
0     1103608
1          10
2          10
3          10
4           4
5           8
6           1
7           8
8          10
9           1
10          4
Name: 44, dtype: object
0     1103722
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           2
10          2
Name: 45, dtype: object
0     1105257
1           3
2           7
3           7
4           4
5           4
6           9
7           4
8           8
9           1
10          4
Name: 46, dtype: object
0     1105524
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 47, dtype: object
0     1106095
1           4
2           1
3           1
4           3
5           2
6           1
7           3
8           1
9           1
10          2
Name: 48, dtype: object
0     1106829
1           7
2           8
3           7
4           2
5           4
6           8
7           3
8           8
9           2
10          4
Name: 49, dtype: object
0     1108370
1           9
2           5
3           8
4           1
5           2
6           3
7           2
8           1
9           5
10          4
Name: 50, dtype: object
0     1108449
1           5
2           3
3           3
4           4
5           2
6           4
7           3
8           4
9           1
10          4
Name: 51, dtype: object
0     1110102
1          10
2           3
3           6
4           2
5           3
6           5
7           4
8          10
9           2
10          4
Name: 52, dtype: object
0     1110503
1           5
2           5
3           5
4           8
5          10
6           8
7           7
8           3
9           7
10          4
Name: 53, dtype: object
0     1110524
1          10
2           5
3           5
4           6
5           8
6           8
7           7
8           1
9           1
10          4
Name: 54, dtype: object
0     1111249
1          10
2           6
3           6
4           3
5           4
6           5
7           3
8           6
9           1
10          4
Name: 55, dtype: object
0     1112209
1           8
2          10
3          10
4           1
5           3
6           6
7           3
8           9
9           1
10          4
Name: 56, dtype: object
0     1113038
1           8
2           2
3           4
4           1
5           5
6           1
7           5
8           4
9           4
10          4
Name: 57, dtype: object
0     1113483
1           5
2           2
3           3
4           1
5           6
6          10
7           5
8           1
9           1
10          4
Name: 58, dtype: object
0     1113906
1           9
2           5
3           5
4           2
5           2
6           2
7           5
8           1
9           1
10          4
Name: 59, dtype: object
0     1115282
1           5
2           3
3           5
4           5
5           3
6           3
7           4
8          10
9           1
10          4
Name: 60, dtype: object
0     1115293
1           1
2           1
3           1
4           1
5           2
6           2
7           2
8           1
9           1
10          2
Name: 61, dtype: object
0     1116116
1           9
2          10
3          10
4           1
5          10
6           8
7           3
8           3
9           1
10          4
Name: 62, dtype: object
0     1116132
1           6
2           3
3           4
4           1
5           5
6           2
7           3
8           9
9           1
10          4
Name: 63, dtype: object
0     1116192
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 64, dtype: object
0     1116998
1          10
2           4
3           2
4           1
5           3
6           2
7           4
8           3
9          10
10          4
Name: 65, dtype: object
0     1117152
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 66, dtype: object
0     1118039
1           5
2           3
3           4
4           1
5           8
6          10
7           4
8           9
9           1
10          4
Name: 67, dtype: object
0     1120559
1           8
2           3
3           8
4           3
5           4
6           9
7           8
8           9
9           8
10          4
Name: 68, dtype: object
0     1121732
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           2
9           1
10          2
Name: 69, dtype: object
0     1121919
1           5
2           1
3           3
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 70, dtype: object
0     1123061
1           6
2          10
3           2
4           8
5          10
6           2
7           7
8           8
9          10
10          4
Name: 71, dtype: object
0     1124651
1           1
2           3
3           3
4           2
5           2
6           1
7           7
8           2
9           1
10          2
Name: 72, dtype: object
0     1125035
1           9
2           4
3           5
4          10
5           6
6          10
7           4
8           8
9           1
10          4
Name: 73, dtype: object
0     1126417
1          10
2           6
3           4
4           1
5           3
6           4
7           3
8           2
9           3
10          4
Name: 74, dtype: object
0     1131294
1           1
2           1
3           2
4           1
5           2
6           2
7           4
8           2
9           1
10          2
Name: 75, dtype: object
0     1132347
1           1
2           1
3           4
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 76, dtype: object
0     1133041
1           5
2           3
3           1
4           2
5           2
6           1
7           2
8           1
9           1
10          2
Name: 77, dtype: object
0     1133136
1           3
2           1
3           1
4           1
5           2
6           3
7           3
8           1
9           1
10          2
Name: 78, dtype: object
0     1136142
1           2
2           1
3           1
4           1
5           3
6           1
7           2
8           1
9           1
10          2
Name: 79, dtype: object
0     1137156
1           2
2           2
3           2
4           1
5           1
6           1
7           7
8           1
9           1
10          2
Name: 80, dtype: object
0     1143978
1           4
2           1
3           1
4           2
5           2
6           1
7           2
8           1
9           1
10          2
Name: 81, dtype: object
0     1143978
1           5
2           2
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 82, dtype: object
0     1147044
1           3
2           1
3           1
4           1
5           2
6           2
7           7
8           1
9           1
10          2
Name: 83, dtype: object
0     1147699
1           3
2           5
3           7
4           8
5           8
6           9
7           7
8          10
9           7
10          4
Name: 84, dtype: object
0     1147748
1           5
2          10
3           6
4           1
5          10
6           4
7           4
8          10
9          10
10          4
Name: 85, dtype: object
0     1148278
1           3
2           3
3           6
4           4
5           5
6           8
7           4
8           4
9           1
10          4
Name: 86, dtype: object
0     1148873
1           3
2           6
3           6
4           6
5           5
6          10
7           6
8           8
9           3
10          4
Name: 87, dtype: object
0     1152331
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 88, dtype: object
0     1155546
1           2
2           1
3           1
4           2
5           3
6           1
7           2
8           1
9           1
10          2
Name: 89, dtype: object
0     1156272
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 90, dtype: object
0     1156948
1           3
2           1
3           1
4           2
5           2
6           1
7           1
8           1
9           1
10          2
Name: 91, dtype: object
0     1157734
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 92, dtype: object
0     1158247
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 93, dtype: object
0     1160476
1           2
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 94, dtype: object
0     1164066
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 95, dtype: object
0     1165297
1           2
2           1
3           1
4           2
5           2
6           1
7           1
8           1
9           1
10          2
Name: 96, dtype: object
0     1165790
1           5
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 97, dtype: object
0     1165926
1           9
2           6
3           9
4           2
5          10
6           6
7           2
8           9
9          10
10          4
Name: 98, dtype: object
0     1166630
1           7
2           5
3           6
4          10
5           5
6          10
7           7
8           9
9           4
10          4
Name: 99, dtype: object
0     1166654
1          10
2           3
3           5
4           1
5          10
6           5
7           3
8          10
9           2
10          4
Name: 100, dtype: object
0     1167439
1           2
2           3
3           4
4           4
5           2
6           5
7           2
8           5
9           1
10          4
Name: 101, dtype: object
0     1167471
1           4
2           1
3           2
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 102, dtype: object
0     1168359
1           8
2           2
3           3
4           1
5           6
6           3
7           7
8           1
9           1
10          4
Name: 103, dtype: object
0     1168736
1          10
2          10
3          10
4          10
5          10
6           1
7           8
8           8
9           8
10          4
Name: 104, dtype: object
0     1169049
1           7
2           3
3           4
4           4
5           3
6           3
7           3
8           2
9           7
10          4
Name: 105, dtype: object
0     1170419
1          10
2          10
3          10
4           8
5           2
6          10
7           4
8           1
9           1
10          4
Name: 106, dtype: object
0     1170420
1           1
2           6
3           8
4          10
5           8
6          10
7           5
8           7
9           1
10          4
Name: 107, dtype: object
0     1171710
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           3
9           1
10          2
Name: 108, dtype: object
0     1171710
1           6
2           5
3           4
4           4
5           3
6           9
7           7
8           8
9           3
10          4
Name: 109, dtype: object
0     1171795
1           1
2           3
3           1
4           2
5           2
6           2
7           5
8           3
9           2
10          2
Name: 110, dtype: object
0     1171845
1           8
2           6
3           4
4           3
5           5
6           9
7           3
8           1
9           1
10          4
Name: 111, dtype: object
0     1172152
1          10
2           3
3           3
4          10
5           2
6          10
7           7
8           3
9           3
10          4
Name: 112, dtype: object
0     1173216
1          10
2          10
3          10
4           3
5          10
6           8
7           8
8           1
9           1
10          4
Name: 113, dtype: object
0     1173235
1           3
2           3
3           2

0     1204898
1           6
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 182, dtype: object
0     1205138
1           5
2           8
3           8
4           8
5           5
6          10
7           7
8           8
9           1
10          4
Name: 183, dtype: object
0     1205579
1           8
2           7
3           6
4           4
5           4
6          10
7           5
8           1
9           1
10          4
Name: 184, dtype: object
0     1206089
1           2
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 185, dtype: object
0     1206695
1           1
2           5
3           8
4           6
5           5
6           8
7           7
8          10
9           1
10          4
Name: 186, dtype: object
0     1206841
1          10
2           5
3           6
4          10
5           6
6          10
7           7
8           7
9          10
10          4
Name: 187, dtype: object
0     1207986
1           5
2           8
3           4
4          10
5           5
6           8
7           9
8          10
9           1
10          4
Name: 188, dtype: object
0     1208301
1           1
2           2
3           3
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 189, dtype: object
0     1210963
1          10
2          10
3          10
4           8
5           6
6           8
7           7
8          10
9           1
10          4
Name: 190, dtype: object
0     1211202
1           7
2           5
3          10
4          10
5          10
6          10
7           4
8          10
9           3
10          4
Name: 191, dtype: object
0     1212232
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 192, dtype: object
0     1212251
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 193, dtype: object
0     1212422
1           3
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 194, dtype: object
0     1212422
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 195, dtype: object
0     1213375
1           8
2           4
3           4
4           5
5           4
6           7
7           7
8           8
9           2
10          2
Name: 196, dtype: object
0     1213383
1           5
2           1
3           1
4           4
5           2
6           1
7           3
8           1
9           1
10          2
Name: 197, dtype: object
0     1214092
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 198, dtype: object
0     1214556
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 199, dtype: object
0     1214966
1           9
2           7
3           7
4           5
5           5
6          10
7           7
8           8
9           3
10          4
Name: 200, dtype: object
0     1216694
1          10
2           8
3           8
4           4
5          10
6          10
7           8
8           1
9           1
10          4
Name: 201, dtype: object
0     1216947
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 202, dtype: object
0     1217051
1           5
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 203, dtype: object
0     1217264
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 204, dtype: object
0     1218105
1           5
2          10
3          10
4           9
5           6
6          10
7           7
8          10
9           5
10          4
Name: 205, dtype: object
0     1218741
1          10
2          10
3           9
4           3
5           7
6           5
7           3
8           5
9           1
10          4
Name: 206, dtype: object
0     1218860
1           1
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 207, dtype: object
0     1218860
1           1
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 208, dtype: object
0     1219406
1           5
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 209, dtype: object
0     1219525
1           8
2          10
3          10
4          10
5           5
6          10
7           8
8          10
9           6
10          4
Name: 210, dtype: object
0     1219859
1           8
2          10
3           8
4           8
5           4
6           8
7           7
8           7
9           1
10          4
Name: 211, dtype: object
0     1220330
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 212, dtype: object
0     1221863
1          10
2          10
3          10
4          10
5           7
6          10
7           7
8          10
9           4
10          4
Name: 213, dtype: object
0     1222047
1          10
2          10
3          10
4          10
5           3
6          10
7          10
8           6
9           1
10          4
Name: 214, dtype: object
0     1222936
1           8
2           7
3           8
4           7
5           5
6           5
7           5
8          10
9           2
10          4
Name: 215, dtype: object
0     1223282
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 216, dtype: object
0     1223426
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 217, dtype: object
0     1223793
1           6
2          10
3           7
4           7
5           6
6           4
7           8
8          10
9           2
10          4
Name: 218, dtype: object
0     1223967
1           6
2           1
3           3
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 219, dtype: object
0     1224329
1           1
2           1
3           1
4           2
5           2
6           1
7           3
8           1
9           1
10          2
Name: 220, dtype: object
0     1225799
1          10
2           6
3           4
4           3
5          10
6          10
7           9
8          10
9           1
10          4
Name: 221, dtype: object
0     1226012
1           4
2           1
3           1
4           3
5           1
6           5
7           2
8           1
9           1
10          4
Name: 222, dtype: object
0     1226612
1           7
2           5
3           6
4           3
5           3
6           8
7           7
8           4
9           1
10          4
Name: 223, dtype: object
0     1227210
1          10
2           5
3           5
4           6
5           3
6          10
7           7
8           9
9           2
10          4
Name: 224, dtype: object
0     1227244
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 225, dtype: object
0     1227481
1          10
2           5
3           7
4           4
5           4
6          10
7           8
8           9
9           1
10          4
Name: 226, dtype: object
0     1228152
1           8
2           9
3           9
4           5
5           3
6           5
7           7
8           7
9           1
10          4
Name: 227, dtype: object
0     1228311
1           1
2           1
3           1
4           1
5           1
6           1
7           3
8           1
9           1
10          2
Name: 228, dtype: object
0     1230175
1          10
2          10
3          10
4           3
5          10
6          10
7           9
8          10
9           1
10          4
Name: 229, dtype: object
0     1230688
1           7
2           4
3           7
4           4
5           3
6           7
7           7
8           6
9           1
10          4
Name: 230, dtype: object
0     1231387
1           6
2           8
3           7
4           5
5           6
6           8
7           8
8           9
9           2
10          4
Name: 231, dtype: object
0     1231706
1           8
2           4
3           6
4           3
5           3
6           1
7           4
8           3
9           1
10          2
Name: 232, dtype: object
0     1232225
1          10
2           4
3           5
4           5
5           5
6          10
7           4
8           1
9           1
10          4
Name: 233, dtype: object
0     1236043
1           3
2           3
3           2
4           1
5           3
6           1
7           3
8           6
9           1
10          2
Name: 234, dtype: object
0     1241559
1          10
2           8
3           8
4           2
5           8
6          10
7           4
8           8
9          10
10          4
Name: 236, dtype: object
0     1241679
1           9
2           8
3           8
4           5
5           6
6           2
7           4
8          10
9           4
10          4
Name: 237, dtype: object
0     1242364
1           8
2          10
3          10
4           8
5           6
6           9
7           3
8          10
9          10
10          4
Name: 238, dtype: object
0     1243256
1          10
2           4
3           3
4           2
5           3
6          10
7           5
8           3
9           2
10          4
Name: 239, dtype: object
0     1270479
1           5
2           1
3           3
4           3
5           2
6           2
7           2
8           3
9           1
10          2
Name: 240, dtype: object
0     1276091
1           3
2           1
3           1
4           3
5           1
6           1
7           3
8           1
9           1
10          2
Name: 241, dtype: object
0     1277018
1           2
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 242, dtype: object
0     128059
1          1
2          1
3          1
4          1
5          2
6          5
7          5
8          1
9          1
10         2
Name: 243, dtype: object
0     1285531
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 244, dtype: object
0     1287775
1           5
2           1
3           1
4           2
5           2
6           2
7           3
8           1
9           1
10          2
Name: 245, dtype: object
0     144888
1          8
2         10
3         10
4          8
5          5
6         10
7          7
8          8
9          1
10         4
Name: 246, dtype: object
0     145447
1          8
2          4
3          4
4          1
5          2
6          9
7          3
8          3
9          1
10         4
Name: 247, dtype: object
0     167528
1          4
2          1
3          1
4          1
5          2
6          1
7          3
8          6
9          1
10         2
Name: 248, dtype: object
0     183913
1          1
2          2
3          2
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 250, dtype: object
0     191250
1         10
2          4
3          4
4         10
5          2
6         10
7          5
8          3
9          3
10         4
Name: 251, dtype: object
0     1017023
1           6
2           3
3           3
4           5
5           3
6          10
7           3
8           5
9           3
10          2
Name: 252, dtype: object
0     1100524
1           6
2          10
3          10
4           2
5           8
6          10
7           7
8           3
9           3
10          4
Name: 253, dtype: object
0     1116116
1           9
2          10
3          10
4           1
5          10
6           8
7           3
8           3
9           1
10          4
Name: 254, dtype: object
0     1168736
1           5
2           6
3           6
4           2
5           4
6          10
7           3
8           6
9           1
10          4
Name: 255, dtype: object
0     1182404
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 256, dtype: object
0     1182404
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 257, dtype: object
0     1198641
1           3
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 258, dtype: object
0     242970
1          5
2          7
3          7
4          1
5          5
6          8
7          3
8          4
9          1
10         2
Name: 259, dtype: object
0     255644
1         10
2          5
3          8
4         10
5          3
6         10
7          5
8          1
9          3
10         4
Name: 260, dtype: object
0     263538
1          5
2         10
3         10
4          6
5         10
6         10
7         10
8          6
9          5
10         4
Name: 261, dtype: object
0     274137
1          8
2          8
3          9
4          4
5          5
6         10
7          7
8          8
9          1
10         4
Name: 262, dtype: object
0     303213
1         10
2          4
3          4
4         10
5          6
6         10
7          5
8          5
9          1
10         4
Name: 263, dtype: object
0     314428
1          7
2          9
3          4
4         10
5         10
6          3
7          5
8          3
9          3
10         4
Name: 264, dtype: object
0     1182404
1           5
2           1
3           4
4           1
5           2
6           1
7           3
8           2
9           1
10          2
Name: 265, dtype: object
0     1198641
1          10
2          10
3           6
4           3
5           3
6          10
7           4
8           3
9           2
10          4
Name: 266, dtype: object
0     320675
1          3
2          3
3          5
4          2
5          3
6         10
7          7
8          1
9          1
10         4
Name: 267, dtype: object
0     324427
1         10
2          8
3          8
4          2
5          3
6          4
7          8
8          7
9          8
10         4
Name: 268, dtype: object
0     385103
1          1
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 269, dtype: object
0     390840
1          8
2          4
3          7
4          1
5          3
6         10
7          3
8          9
9          2
10         4
Name: 270, dtype: object
0     411453
1          5
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 271, dtype: object
0     320675
1          3
2          3
3          5
4          2
5          3
6         10
7          7
8          1
9          1
10         4
Name: 272, dtype: object
0     428903
1          7
2          2
3          4
4          1
5          3
6          4
7          3
8          3
9          1
10         4
Name: 273, dtype: object
0     431495
1          3
2          1
3          1
4          1
5          2
6          1
7          3
8          2
9          1
10         2
Name: 274, dtype: object
0     434518
1          3
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 276, dtype: object
0     452264
1          1
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 277, dtype: object
0     456282
1          1
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 278, dtype: object
0     476903
1         10
2          5
3          7
4          3
5          3
6          7
7          3
8          3
9          8
10         4
Name: 279, dtype: object
0     486283
1          3
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 280, dtype: object
0     486662
1          2
2          1
3          1
4          2
5          2
6          1
7          3
8          1
9          1
10         2
Name: 281, dtype: object
0     488173
1          1
2          4
3          3
4         10
5          4
6         10
7          5
8          6
9          1
10         4
Name: 282, dtype: object
0     492268
1         10
2          4
3          6
4          1
5          2
6         10
7          5
8          3
9          1
10         4
Name: 283, dtype: object
0     508234
1          7
2          4
3          5
4         10
5          2
6         10
7          3
8          8
9          2
10         4
Name: 284, dtype: object
0     527363
1          8
2         10
3         10
4         10
5          8
6         10
7         10
8          7
9          3
10         4
Name: 285, dtype: object
0     529329
1         10
2         10
3         10
4         10
5         10
6         10
7          4
8         10
9         10
10         4
Name: 286, dtype: object
0     535331
1          3
2          1
3          1
4          1
5          3
6          1
7          2
8          1
9          1
10         2
Name: 287, dtype: object
0     543558
1          6
2          1
3          3
4          1
5          4
6          5
7          5
8         10
9          1
10         4
Name: 288, dtype: object
0     555977
1          5
2          6
3          6
4          8
5          6
6         10
7          4
8         10
9          4
10         4
Name: 289, dtype: object
0     560680
1          1
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 290, dtype: object
0     561477
1          1
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 291, dtype: object
0     601265
1         10
2          4
3          4
4          6
5          2
6         10
7          2
8          3
9          1
10         4
Name: 293, dtype: object
0     606722
1          5
2          5
3          7
4          8
5          6
6         10
7          7
8          4
9          1
10         4
Name: 295, dtype: object
0     616240
1          5
2          3
3          4
4          3
5          4
6          5
7          4
8          7
9          1
10         2
Name: 296, dtype: object
0     625201
1          8
2          2
3          1
4          1
5          5
6          1
7          1
8          1
9          1
10         2
Name: 298, dtype: object
0     63375
1         9
2         1
3         2
4         6
5         4
6        10
7         7
8         7
9         2
10        4
Name: 299, dtype: object
0     635844
1          8
2          4
3         10
4          5
5          4
6          4
7          7
8         10
9          1
10         4
Name: 300, dtype: object
0     636130
1          1
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 301, dtype: object
0     640744
1         10
2         10
3         10
4          7
5          9

Name: 357, dtype: object
0     866325
1          8
2         10
3          5
4          3
5          8
6          4
7          4
8         10
9          3
10         4
Name: 358, dtype: object
0     873549
1         10
2          3
3          5
4          4
5          3
6          7
7          3
8          5
9          3
10         4
Name: 359, dtype: object
0     877291
1          6
2         10
3         10
4         10
5         10
6         10
7          8
8         10
9         10
10         4
Name: 360, dtype: object
0     877943
1          3
2         10
3          3
4         10
5          6
6         10
7          5
8          1
9          4
10         4
Name: 361, dtype: object
0     888169
1          3
2          2
3          2
4          1
5          4
6          3
7          2
8          1
9          1
10         2
Name: 362, dtype: object
0     888523
1          4
2          4
3          4
4          2
5          2
6          3
7          2
8          1
9          1
10         2
Name: 363, dtype: object
0     896404
1          2
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 364, dtype: object
0     897172
1          2
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 365, dtype: object
0     95719
1         6
2        10
3        10
4        10
5         8
6        10
7         7
8        10
9         7
10        4
Name: 366, dtype: object
0     160296
1          5
2          8
3          8
4         10
5          5
6         10
7          8
8         10
9          3
10         4
Name: 367, dtype: object
0     342245
1          1
2          1
3          3
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 368, dtype: object
0     428598
1          1
2          1
3          3
4          1
5          1
6          1
7          2
8          1
9          1
10         2
Name: 369, dtype: object
0     492561
1          4
2          3
3          2
4          1
5          3
6          1
7          2
8          1
9          1
10         2
Name: 370, dtype: object
0     493452
1          1
2          1
3          3
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 371, dtype: object
0     493452
1          4
2          1
3          2
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 372, dtype: object
0     521441
1          5
2          1
3          1
4          2
5          2
6          1
7          2
8          1
9          1
10         2
Name: 373, dtype: object
0     560680
1          3
2          1
3          2
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 374, dtype: object
0     636437
1          1
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 375, dtype: object
0     640712
1          1
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 376, dtype: object
0     654244
1          1
2          1
3          1
4          1
5          1
6          1
7          2
8          1
9          1
10         2
Name: 377, dtype: object
0     657753
1          3
2          1
3          1
4          4
5          3
6          1
7          2
8          2
9          1
10         2
Name: 378, dtype: object
0     685977
1          5
2          3
3          4
4          1
5          4
6          1
7          3
8          1
9          1
10         2
Name: 379, dtype: object
0     805448
1          1
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 380, dtype: object
0     846423
1         10
2          6
3          3
4          6
5          4
6         10
7          7
8          8
9          4
10         4
Name: 381, dtype: object
0     1002504
1           3
2           2
3           2
4           2
5           2
6           1
7           3
8           2
9           1
10          2
Name: 382, dtype: object
0     1022257
1           2
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 383, dtype: object
0     1026122
1           2
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 384, dtype: object
0     1071084
1           3
2           3
3           2
4           2
5           3
6           1
7           1
8           2
9           3
10          2
Name: 385, dtype: object
0     1080233
1           7
2           6
3           6
4           3
5           2
6          10
7           7
8           1
9           1
10          4
Name: 386, dtype: object
0     1114570
1           5
2           3
3           3
4           2
5           3
6           1
7           3
8           1
9           1
10          2
Name: 387, dtype: object
0     1114570
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           2
9           1
10          2
Name: 388, dtype: object
0     1116715
1           5
2           1
3           1
4           1
5           3
6           2
7           2
8           2
9           1
10          2
Name: 389, dtype: object
0     1131411
1           1
2           1
3           1
4           2
5           2
6           1
7           2
8           1
9           1
10          2
Name: 390, dtype: object
0     1151734
1          10
2           8
3           7
4           4
5           3
6          10
7           7
8           9
9           1
10          4
Name: 391, dtype: object
0     1156017
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 392, dtype: object
0     1158247
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          2
Name: 393, dtype: object
0     1158405
1           1
2           2
3           3
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 394, dtype: object
0     1168278
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 395, dtype: object
0     1176187
1           3
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 396, dtype: object
0     1196263
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 397, dtype: object
0     1196475
1           3
2           2
3           1
4           1
5           2
6           1
7           2
8           2
9           1
10          2
Name: 398, dtype: object
0     1206314
1           1
2           2
3           3
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 399, dtype: object
0     1211265
1           3
2          10
3           8
4           7
5           6
6           9
7           9
8           3
9           8
10          4
Name: 400, dtype: object
0     1213784
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 401, dtype: object
0     1223003
1           5
2           3
3           3
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 402, dtype: object
0     1223306
1           3
2           1
3           1
4           1
5           2
6           4
7           1
8           1
9           1
10          2
Name: 403, dtype: object
0     1223543
1           1
2           2
3           1
4           3
5           2
6           1
7           1
8           2
9           1
10          2
Name: 404, dtype: object
0     1229929
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 405, dtype: object
0     1231853
1           4
2           2
3           2
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 406, dtype: object
0     1234554
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 407, dtype: object
0     1236837
1           2
2           3
3           2
4           2
5           2
6           2
7           3
8           1
9           1
10          2
Name: 408, dtype: object
0     1237674
1           3
2           1
3           2
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 409, dtype: object
0     1238021
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 410, dtype: object
0     1238633
1          10
2          10
3          10
4           6
5           8
6           4
7           8
8           5
9           1
10          4
Name: 412, dtype: object
0     1238915
1           5
2           1
3           2
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 413, dtype: object
0     1238948
1           8
2           5
3           6
4           2
5           3
6          10
7           6
8           6
9           1
10          4
Name: 414, dtype: object
0     1239232
1           3
2           3
3           2
4           6
5           3
6           3
7           3
8           5
9           1
10          2
Name: 415, dtype: object
0     1239347
1           8
2           7
3           8
4           5
5          10
6          10
7           7
8           2
9           1
10          4
Name: 416, dtype: object
0     1239967
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 417, dtype: object
0     1240337
1           5
2           2
3           2
4           2
5           2
6           2
7           3
8           2
9           2
10          2
Name: 418, dtype: object
0     1253505
1           2
2           3
3           1
4           1
5           5
6           1
7           1
8           1
9           1
10          2
Name: 419, dtype: object
0     1255384
1           3
2           2
3           2
4           3
5           2
6           3
7           3
8           1
9           1
10          2
Name: 420, dtype: object
0     1257200
1          10
2          10
3          10
4           7
5          10
6          10
7           8
8           2
9           1
10          4
Name: 421, dtype: object
0     1257648
1           4
2           3
3           3
4           1
5           2
6           1
7           3
8           3
9           1
10          2
Name: 422, dtype: object
0     1257815
1           5
2           1
3           3
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 423, dtype: object
0     1257938
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 424, dtype: object
0     1258549
1           9
2          10
3          10
4          10
5          10
6          10
7          10
8          10
9           1
10          4
Name: 425, dtype: object
0     1258556
1           5
2           3
3           6
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 426, dtype: object
0     1266154
1           8
2           7
3           8
4           2
5           4
6           2
7           5
8          10
9           1
10          4
Name: 427, dtype: object
0     1272039
1           1
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 428, dtype: object
0     1276091
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 429, dtype: object
0     1276091
1           1
2           3
3           1
4           1
5           2
6           1
7           2
8           2
9           1
10          2
Name: 430, dtype: object
0     1276091
1           5
2           1
3           1
4           3
5           4
6           1
7           3
8           2
9           1
10          2
Name: 431, dtype: object
0     1277629
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           2
9           1
10          2
Name: 432, dtype: object
0     1293439
1           3
2           2
3           2
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 433, dtype: object
0     1293439
1           6
2           9
3           7
4           5
5           5
6           8
7           4
8           2
9           1
10          2
Name: 434, dtype: object
0     1294562
1          10
2           8
3          10
4           1
5           3
6          10
7           5
8           1
9           1
10          4
Name: 435, dtype: object
0     1295186
1          10
2          10
3          10
4           1
5           6
6           1
7           2
8           8
9           1
10          4
Name: 436, dtype: object
0     527337
1          4
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 437, dtype: object
0     558538
1          4
2          1
3          3
4          3
5          2
6          1
7          1
8          1
9          1
10         2
Name: 438, dtype: object
0     566509
1          5
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 439, dtype: object
0     608157
1         10
2          4
3          3
4         10
5          4
6         10
7         10
8          1
9          1
10         4
Name: 440, dtype: object
0     677910
1          5
2          2
3          2
4          4
5          2
6          4
7          1
8          1
9          1
10         2
Name: 441, dtype: object
0     734111
1          1
2          1
3          1
4          3
5          2
6          3
7          1
8          1
9          1
10         2
Name: 442, dtype: object
0     734111
1          1
2          1
3          1
4          1
5          2
6          2
7          1
8          1
9          1
10         2
Name: 443, dtype: object
0     780555
1          5
2          1
3          1
4          6
5          3
6          1
7          2
8          1
9          1
10         2
Name: 444, dtype: object
0     827627
1          2
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 445, dtype: object
0     1049837
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 446, dtype: object
0     1058849
1           5
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 447, dtype: object
0     1182404
1           1
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          2
Name: 448, dtype: object
0     1193544
1           5
2           7
3           9
4           8
5           6
6          10
7           8
8          10
9           1
10          4
Name: 449, dtype: object
0     1201870
1           4
2           1
3           1
4           3
5           1
6           1
7           2
8           1
9           1
10          2
Name: 450, dtype: object
0     1202253
1           5
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 451, dtype: object
0     1227081
1           3
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 452, dtype: object
0     1230994
1           4
2           5
3           5
4           8
5           6
6          10
7          10
8           7
9           1
10          4
Name: 453, dtype: object
0     1238410
1           2
2           3
3           1
4           1
5           3
6           1
7           1
8           1
9           1
10          2
Name: 454, dtype: object
0     1246562
1          10
2           2
3           2
4           1
5           2
6           6
7           1
8           1
9           2
10          4
Name: 455, dtype: object
0     1257470
1          10
2           6
3           5
4           8
5           5
6          10
7           8
8           6
9           1
10          4
Name: 456, dtype: object
0     1259008
1           8
2           8
3           9
4           6
5           6
6           3
7          10
8          10
9           1
10          4
Name: 457, dtype: object
0     1266124
1           5
2           1
3           2
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 458, dtype: object
0     1267898
1           5
2           1
3           3
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 459, dtype: object
0     1268313
1           5
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 460, dtype: object
0     1268804
1           3
2           1
3           1
4           1
5           2
6           5
7           1
8           1
9           1
10          2
Name: 461, dtype: object
0     1276091
1           6
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 462, dtype: object
0     1280258
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           2
9           1
10          2
Name: 463, dtype: object
0     1293966
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 464, dtype: object
0     1296572
1          10
2           9
3           8
4           7
5           6
6           4
7           7
8          10
9           3
10          4
Name: 465, dtype: object
0     1298416
1          10
2           6
3           6
4           2
5           4
6          10
7           9
8           7
9           1
10          4
Name: 466, dtype: object
0     1299596
1           6
2           6
3           6
4           5
5           4
6          10
7           7
8           6
9           2
10          4
Name: 467, dtype: object
0     1105524
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 468, dtype: object
0     1181685
1           1
2           1
3           2
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 469, dtype: object
0     1211594
1           3
2           1
3           1
4           1
5           1
6           1
7           2
8           1
9           1
10          2
Name: 470, dtype: object
0     1238777
1           6
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 471, dtype: object
0     1257608
1           6
2           1
3           1
4           1
5           1
6           1
7           1

Name: 536, dtype: object
0     1116192
1           5
2           1
3           2
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 537, dtype: object
0     1135090
1           4
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 538, dtype: object
0     1145420
1           6
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 539, dtype: object
0     1158157
1           5
2           1
3           1
4           1
5           2
6           2
7           2
8           1
9           1
10          2
Name: 540, dtype: object
0     1171578
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 541, dtype: object
0     1174841
1           5
2           3
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 542, dtype: object
0     1184586
1           4
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 543, dtype: object
0     1186936
1           2
2           1
3           3
4           2
5           2
6           1
7           2
8           1
9           1
10          2
Name: 544, dtype: object
0     1197527
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 545, dtype: object
0     1222464
1           6
2          10
3          10
4          10
5           4
6          10
7           7
8          10
9           1
10          4
Name: 546, dtype: object
0     1240603
1           2
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          2
Name: 547, dtype: object
0     1240603
1           3
2           1
3           1
4           1
5           1
6           1
7           1
8           1
9           1
10          2
Name: 548, dtype: object
0     1241035
1           7
2           8
3           3
4           7
5           4
6           5
7           7
8           8
9           2
10          4
Name: 549, dtype: object
0     1287971
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 550, dtype: object
0     1289391
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 551, dtype: object
0     1299924
1           3
2           2
3           2
4           2
5           2
6           1
7           4
8           2
9           1
10          2
Name: 552, dtype: object
0     1306339
1           4
2           4
3           2
4           1
5           2
6           5
7           2
8           1
9           2
10          2
Name: 553, dtype: object
0     1313658
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 554, dtype: object
0     1313982
1           4
2           3
3           1
4           1
5           2
6           1
7           4
8           8
9           1
10          2
Name: 555, dtype: object
0     1321264
1           5
2           2
3           2
4           2
5           1
6           1
7           2
8           1
9           1
10          2
Name: 556, dtype: object
0     1321321
1           5
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 557, dtype: object
0     1321348
1           2
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 558, dtype: object
0     1321931
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 559, dtype: object
0     1321942
1           5
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 560, dtype: object
0     1321942
1           5
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 561, dtype: object
0     1328331
1           1
2           1
3           1
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 562, dtype: object
0     1328755
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 563, dtype: object
0     1331405
1           4
2           1
3           1
4           1
5           2
6           1
7           3
8           2
9           1
10          2
Name: 564, dtype: object
0     1331412
1           5
2           7
3          10
4          10
5           5
6          10
7          10
8          10
9           1
10          4
Name: 565, dtype: object
0     1333104
1           3
2           1
3           2
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 566, dtype: object
0     1334071
1           4
2           1
3           1
4           1
5           2
6           3
7           2
8           1
9           1
10          2
Name: 567, dtype: object
0     1343068
1           8
2           4
3           4
4           1
5           6
6          10
7           2
8           5
9           2
10          4
Name: 568, dtype: object
0     1343374
1          10
2          10
3           8
4          10
5           6
6           5
7          10
8           3
9           1
10          4
Name: 569, dtype: object
0     1344121
1           8
2          10
3           4
4           4
5           8
6          10
7           8
8           2
9           1
10          4
Name: 570, dtype: object
0     142932
1          7
2          6
3         10
4          5
5          3
6         10
7          9
8         10
9          2
10         4
Name: 571, dtype: object
0     183936
1          3
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 572, dtype: object
0     324382
1          1
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 573, dtype: object
0     378275
1         10
2          9
3          7
4          3
5          4
6          2
7          7
8          7
9          1
10         4
Name: 574, dtype: object
0     385103
1          5
2          1
3          2
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 575, dtype: object
0     690557
1          5
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 576, dtype: object
0     695091
1          1
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 577, dtype: object
0     695219
1          1
2          1
3          1
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 578, dtype: object
0     824249
1          1
2          1
3          1
4          1
5          2
6          1
7          3
8          1
9          1
10         2
Name: 579, dtype: object
0     871549
1          5
2          1
3          2
4          1
5          2
6          1
7          2
8          1
9          1
10         2
Name: 580, dtype: object
0     878358
1          5
2          7
3         10
4          6
5          5
6         10
7          7
8          5
9          1
10         4
Name: 581, dtype: object
0     1107684
1           6
2          10
3           5
4           5
5           4
6          10
7           6
8          10
9           1
10          4
Name: 582, dtype: object
0     1115762
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 583, dtype: object
0     1217717
1           5
2           1
3           1
4           6
5           3
6           1
7           1
8           1
9           1
10          2
Name: 584, dtype: object
0     1239420
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 585, dtype: object
0     1254538
1           8
2          10
3          10
4          10
5           6
6          10
7          10
8          10
9           1
10          4
Name: 586, dtype: object
0     1261751
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           2
9           1
10          2
Name: 587, dtype: object
0     1268275
1           9
2           8
3           8
4           9
5           6
6           3
7           4
8           1
9           1
10          4
Name: 588, dtype: object
0     1272166
1           5
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 589, dtype: object
0     1294261
1           4
2          10
3           8
4           5
5           4
6           1
7          10
8           1
9           1
10          4
Name: 590, dtype: object
0     1295529
1           2
2           5
3           7
4           6
5           4
6          10
7           7
8           6
9           1
10          4
Name: 591, dtype: object
0     1298484
1          10
2           3
3           4
4           5
5           3
6          10
7           4
8           1
9           1
10          4
Name: 592, dtype: object
0     1311875
1           5
2           1
3           2
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 593, dtype: object
0     1315506
1           4
2           8
3           6
4           3
5           4
6          10
7           7
8           1
9           1
10          4
Name: 594, dtype: object
0     1320141
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 595, dtype: object
0     1325309
1           4
2           1
3           2
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 596, dtype: object
0     1333063
1           5
2           1
3           3
4           1
5           2
6           1
7           3
8           1
9           1
10          2
Name: 597, dtype: object
0     1333495
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 598, dtype: object
0     1334659
1           5
2           2
3           4
4           1
5           1
6           1
7           1
8           1
9           1
10          2
Name: 599, dtype: object
0     1336798
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 600, dtype: object
0     1344449
1           1
2           1
3           1
4           1
5           1
6           1
7           2
8           1
9           1
10          2
Name: 601, dtype: object
0     1350568
1           4
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 602, dtype: object
0     1352663
1           5
2           4
3           6
4           8
5           4
6           1
7           8
8          10
9           1
10          4
Name: 603, dtype: object
0     188336
1          5
2          3
3          2
4          8
5          5
6         10
7          8
8          1
9          2
10         4
Name: 604, dtype: object
0     352431
1         10
2          5
3         10
4          3
5          5
6          8
7          7
8          8
9          3
10         4
Name: 605, dtype: object
0     353098
1          4
2          1
3          1
4          2
5          2
6          1
7          1
8          1
9          1
10         2
Name: 606, dtype: object
0     411453
1          1
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 607, dtype: object
0     557583
1          5
2         10
3         10
4         10
5         10
6         10
7         10
8          1
9          1
10         4
Name: 608, dtype: object
0     636375
1          5
2          1
3          1
4          1
5          2
6          1
7          1
8          1
9          1
10         2
Name: 609, dtype: object
0     736150
1         10
2          4
3          3
4         10
5          3
6         10
7          7
8          1
9          2
10         4
Name: 610, dtype: object
0     803531
1          5
2         10
3         10
4         10
5          5
6          2
7          8
8          5
9          1
10         4
Name: 611, dtype: object
0     822829
1          8
2         10
3         10
4         10
5          6
6         10
7         10
8         10
9         10
10         4
Name: 612, dtype: object
0     1016634
1           2
2           3
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 613, dtype: object
0     1031608
1           2
2           1
3           1
4           1
5           1
6           1
7           2
8           1
9           1
10          2
Name: 614, dtype: object
0     1041043
1           4
2           1
3           3
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 615, dtype: object
0     1042252
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 616, dtype: object
0     1061990
1           4
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 618, dtype: object
0     1073836
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 619, dtype: object
0     1083817
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 620, dtype: object
0     1096352
1           6
2           3
3           3
4           3
5           3
6           2
7           6
8           1
9           1
10          2
Name: 621, dtype: object
0     1140597
1           7
2           1
3           2
4           3
5           2
6           1
7           2
8           1
9           1
10          2
Name: 622, dtype: object
0     1149548
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 623, dtype: object
0     1174009
1           5
2           1
3           1
4           2
5           1
6           1
7           2
8           1
9           1
10          2
Name: 624, dtype: object
0     1183596
1           3
2           1
3           3
4           1
5           3
6           4
7           1
8           1
9           1
10          2
Name: 625, dtype: object
0     1190386
1           4
2           6
3           6
4           5
5           7
6           6
7           7
8           7
9           3
10          4
Name: 626, dtype: object
0     1190546
1           2
2           1
3           1
4           1
5           2
6           5
7           1
8           1
9           1
10          2
Name: 627, dtype: object
0     1213273
1           2
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 628, dtype: object
0     1218982
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 629, dtype: object
0     1225382
1           6
2           2
3           3
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 630, dtype: object
0     1235807
1           5
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 631, dtype: object
0     1238777
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 632, dtype: object
0     1253955
1           8
2           7
3           4
4           4
5           5
6           3
7           5
8          10
9           1
10          4
Name: 633, dtype: object
0     1257366
1           3
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 634, dtype: object
0     1260659
1           3
2           1
3           4
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 635, dtype: object
0     1268952
1          10
2          10
3           7
4           8
5           7
6           1
7          10
8          10
9           3
10          4
Name: 636, dtype: object
0     1275807
1           4
2           2
3           4
4           3
5           2
6           2
7           2
8           1
9           1
10          2
Name: 637, dtype: object
0     1277792
1           4
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 638, dtype: object
0     1277792
1           5
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 639, dtype: object
0     1285722
1           4
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 640, dtype: object
0     1288608
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 641, dtype: object
0     1290203
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 642, dtype: object
0     1294413
1           1
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 643, dtype: object
0     1299596
1           2
2           1
3           1
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 644, dtype: object
0     1303489
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 645, dtype: object
0     1311033
1           1
2           2
3           2
4           1
5           2
6           1
7           1
8           1
9           1
10          2
Name: 646, dtype: object
0     1311108
1           1
2           1
3           1
4           3
5           2
6           1
7           1
8           1
9           1
10          2
Name: 647, dtype: object
0     1315807
1           5
2          10
3          10
4          10
5          10
6           2
7          10
8          10
9          10
10          4
Name: 648, dtype: object
0     1318671
1           3
2           1
3           1
4           1
5           2
6           1
7           2
8           1
9           1
10          2
Name: 649, dtype: object
0     1319609
1           3
2           1
3           1
4           2
5           3
6           4
7           1
8           1
9           1

#### Handling missing values 

The dataset contains missing values. Please view the below mentioned sites - 

1. https://machinelearningmastery.com/handle-missing-data-python/
2. https://datascience.stackexchange.com/questions/37706/how-to-handle-unknown-category-in-machine-learning-classification-problems
3. https://stackoverflow.com/questions/29247712/pandas-how-to-replace-with-nan-handling-non-standard-missing-values

In [52]:
X = data.iloc[:, 1:9]
y = data[10]

model = SVC()

model.fit(X, y)
print(model)

predicted = model.predict(X)
print(predicted)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='rbf', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)
[2 4 2 2 2 4 2 2 2 2 2 2 4 2 4 4 2 2 4 2 4 4 2 2 4 2 2 2 2 2 2 4 2 2 2 4 2
 4 4 4 4 4 4 2 4 2 2 4 4 4 4 4 4 4 4 4 4 4 4 2 4 4 2 4 2 4 4 2 2 4 2 4 4 2
 2 2 2 2 2 2 2 2 4 4 4 4 2 2 2 2 2 2 2 2 2 2 4 4 4 4 2 4 4 4 4 4 2 4 2 4 4
 4 2 2 2 4 2 2 2 2 4 4 4 2 4 2 4 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 4 2 2 4 2 4
 4 2 2 4 2 2 4 4 2 2 2 2 4 4 2 2 2 2 2 4 4 4 2 4 2 4 2 2 2 4 4 2 4 4 4 2 4
 4 2 2 2 2 4 2 2 2 4 4 2 2 2 4 4 2 2 2 4 4 2 4 4 4 2 2 4 2 2 4 4 4 4 2 4 4
 2 4 4 4 4 4 2 4 4 4 4 2 2 2 2 2 2 4 4 2 2 4 2 4 4 4 2 2 2 2 4 4 4 4 4 2 4
 4 4 2 4 2 4 4 2 2 2 2 4 2 2 4 4 4 4 4 2 4 4 2 2 4 4 2 2 4 4 2 4 2 4 4 2 2
 4 2 2 2 4 2 2 4 4 2 2 4 2 4 2 2 4 2 4 4 4 2 2 4 4 2 4 2 2 4 4 2 2 2 4 2 2
 2 4 4 2 2 2 4 2 2 4 4 4 4 4 4 2 2 2 2 4 4 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2
 2 2 4 2 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 2 4 2 4 2 4 2 2 2 2 4
 2 2 2 4 2 4 2 2 2 2 2 2 2 4 4 2 2 2 4 2 2 2 2 2 2 2 2 4 2 2 2 4 2 4 4 4 2
 2 2 2 2 2 2 4 4 4 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4 2 2 2 4 4 4 2 4 2 4 2 2
 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 4 4 2 2 2 4 2 2 4 4 2 2 2 2 2 2 4 2 2
 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 4 4
 4 4 2 2 4 2 2 2 2 2 2 4 4 2 2 2 4 2 4 2 4 4 4 2 4 2 2 2 2 2 2 2 2 4 4 4 2
 2 4 2 4 4 4 2 2 2 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 4 2 2 4 2 2 2 2 2 2 2 2
 2 2 2 4 2 2 2 2 2 2 2 2 2 4 2 2 2 2 2 2 2 2 2 4 4 4 2 2 2 2 2 2 2 2 2 4 4
 2 2 2 2 2 2 2 2 2 4 2 2 2 2 4 4 4]

C:\Users\abhil\.conda\envs\tensormelon\lib\site-packages\sklearn\svm\base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

In [53]:
print(metrics.classification_report(y, predicted))
print(metrics.confusion_matrix(y, predicted))

              precision    recall  f1-score   support

           2       1.00      0.99      1.00       444
           4       0.99      1.00      0.99       239

    accuracy                           1.00       683
   macro avg       0.99      1.00      1.00       683
weighted avg       1.00      1.00      1.00       683

[[441   3]
 [  0 239]]